@media screen and (max-width:767px) {
    

.mobile-menu {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu__container {
    position: relative;

    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}
.close-mobile-menu-btn {
    position: absolute;
    top: 21px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
cursor: pointer;
   
}
.open-mobile-menu-btn {
    cursor: pointer;
}


 .close-mobile-menu-btn:focus .icon-mobile-menu-cross {
     fill: var(--accent-text-color);
    
 }

.icon-mobile-menu-cross {
    height: 40px;
    width: 40px;
}
.mobile-nav__item {
        font-family: Roboto, sans-serif;
        
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--title-text-color);
}
.mobile-nav__link:not(:last-child) {
    margin-bottom: 36px;
    
}
.mobile-menu__contacts {
    margin-top: 302px;
}
.mobile-menu__contacts li + li {
    margin-top: 32px;
}
.mobile-menu__employee__social {
    margin-top: 64px;
}

.mobile-menu__employee__social li + li{
   
    border-left: 1px solid var(--accent-text-color);
}
.employee__social__list:not(:last-child) {
    
    margin-right: 10px;    
}
.employee__social__list:not(:first-child) {
    padding-left: 10px;
}
.mobile-menu__employee__social {
    display: flex;
    
    font-family: Roboto,
    sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;      
    letter-spacing: 0.02em;     
    color: var(--accent-text-color);
}


.mobile-menu__tel {

font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17px;
    letter-spacing: 0.02em;

    color: var(--accent-text-color);
}
.mobile-menu__mail{
font-family: Roboto,
    sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;

color: var(--primary-text-color);
}



}

@media screen and (min-width: 768px){
    .close-mobile-menu-btn,
    .mobile-menu {
        display: none;
    }
    
}