.page-header {
    border-bottom: 1px solid #ECECEC;;
}
.page-header__container {
    display: flex;
}



@media screen and (max-width: 767px) {

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ul-nav {
    display: none;
}
.nav-aut {
    display: none;
}
.open-mobile-menu-btn {
    line-height: 0;
    border: none;
    padding: 0;
    background-color: transparent;
}
.icon-mobile-menu-burger {
    width: 40px;
    height: 40px;
}
.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}    
}


@media screen and (min-width: 768px) {
    .open-mobile-menu-btn{
        display: none;
    } 

   .page-header__container {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
   }

   .header-navigation {
    display: flex;
   }
   .ul-nav {
    display: flex;
    align-items: center;
   }

.nav {
    font-size: 12px;
   
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: var(--accent-text-color);
    }
}


.ul-nav {
    
   
    margin-left: 88px;
    

    & li+li {
        margin-left: 50px;
    }

    & .mailto {
        width: 34px;
        height: 34px;

    }
}
.nav-aut li + li {
    margin-top: 9px;
}
.nav-aut {
   
margin-left: auto;

    & a {
        color: var(--primary-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.link-nav-tel,
.link-nav-mail {
   display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1,166;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.link-nav-tel,
.link-nav-mail {
    flex-direction: row-reverse;
}

 
.mailto-item,
.mailto-tel {
    width: 20px;
    height: 16px;
    fill: currentColor;
}



.link-nav-mail:hover,
.link-nav-mail:focus {
    color: var(--accent-text-color);
}

.link-nav-tel:hover,
.link-nav-tel:focus {
    color: var(--accent-text-color);
}





}










// .ul-nav {
//     margin-left: 93px;
// }

// .nav-aut {
//     display: flex;
    
// }

 
// .mailto-post .current {
//             color: var(--accent-text-color);
//             position: relative;
//         }
    
// .link-nav-mail:hover,
// .link-nav-mail:focus {
//     color: var(--accent-text-color);
// }

// .link-nav-tel:hover,
// .link-nav-tel:focus {
//     color: var(--accent-text-color);
// }




// &.current::after {
//     content: '';
//     position: absolute;
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--accent-text-color);
//     bottom: 0;
//     border-radius: 2px;
// }





// .list a:hover,
// .list a:focus {
//   color: var(--accent-text-color);
// } 


// .nav-aut {
    



//     & a {
//         color: var(--primary-text-color);
//         font-weight: 500;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

// .mailto-item {
    
//     fill: currentColor;
// }

// .mailto-tel {
  
//     fill: currentColor;
// }

// }

// .clients {
//     background-color: #f5f4fa14;
// }




// .header {
//     border-bottom: 1px solid #ececec;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
// }








    .nav.current::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-text-color);
        bottom: 0;
        border-radius: 2px;
        margin-bottom: -32px;
    }



.current {
    color: var(--accent-text-color);
    position: relative;
}











/* .list a:hover,
.list a:focus {
  color: var(--accent-text-color);
} */





@media screen and (min-width: 1200px) {
.page-header__container {
        
        padding-top: 25px;
        padding-bottom: 25px;
    }




.ul-nav {
    margin-left: 90px;    
}

.nav-aut li+li {
    margin-top: 0px;
}





.nav-aut {
    margin-left: auto;
    display: flex;

    & li+li {
        margin-left: 50px;
    }

    & a {
        color: var(--primary-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.clients {
    background-color: #f5f4fa14;
}

.mailto-fone,
.mailto-post {
    align-items: center;
    display: inline-flex;
}

.mailto-item {
    width: 32px;
    height: 16px;
    fill: currentColor;
}

.mailto-tel {
    width: 20px;
    height: 16px;
    fill: currentColor;
}

.header {
    border-bottom: 1px solid #ececec;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

}
